body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.top-section {
    background-color: #1F2937;
    padding: 0px;
}

.header {
    padding-top: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;

}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;  

}

.links {
    font-size: 18px;
    margin-left: auto;

}

.links a {
    color: #E5E7EB;
    margin-left: 10px;

}

a:link { text-decoration: none; }

.section-1 {
    background-color: #1F2937;
    display: flex;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    justify-content: stretch;
    padding-bottom: 50px;
}

.section-1 .content {
    width: 400px;
}

.section-1 img {
    margin-left: auto;
}

.section-3 {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.title {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;

}
html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}

.footer {
    margin-top: auto;
    background-color: #1F2937;
}

img {
    max-width: fit-content;
    max-height: fit-content;
    width: fit-content;
    height: fit-content;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #3882F6;
    padding: 5px 5px;
    
    font-weight: 900;
}

button a {
    color: #F9FAF8;
}